{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<h2>XML Import</h2>
<h3>Import Identification</h3>
<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<div>
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ import_form.form.non_field_errors }}
{% endif %}

<div class="form-row">
    {{ line.errors }}
    {% for field in import_form %}
        <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
            {% if field.is_checkbox %}
                {{ field.field }}{{ field.label_tag }}
            {% else %}
                {{ field.label_tag }}
                {% if field.is_readonly %}
                    <p>{{ field.contents }}</p>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endif %}
            {% if field.field.field.help_text %}
                <p class="help">{{ field.field.field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="submit-row">
    <input type="submit" value="Unerkannte medien updaten" class="default" name="_send_identification" />
</div>

</div>
</form>

<h3>Compare</h3>
<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<div>
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ compare_form.form.non_field_errors }}
{% endif %}

<div class="form-row">
    {{ line.errors }}
    {% for field in compare_form %}
        <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
            {% if field.is_checkbox %}
                {{ field.field }}{{ field.label_tag }}
            {% else %}
                {{ field.label_tag }}
                {% if field.is_readonly %}
                    <p>{{ field.contents }}</p>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endif %}
            {% if field.field.field.help_text %}
                <p class="help">{{ field.field.field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="submit-row">
    <input type="submit" value="Vergleiche" class="default" name="_send_compare" />
</div>

</div>
</form>

{% endblock %}
